:root {
    --main-font-family: 'Roboto', sans-serif;
    --font-size: 14px;
    --text-decoration: none;
    --font-style: normal;
    --letter-spacing: 0.03em;

    /* colors */
    --main-font-color: #212121;
    --white-font-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --secondary-color: #757575;
    --accent-color: #2196f3;


}


body {
    font-family: var(--main-font-family);
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
    color: var(--main-font-color);
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.link-footer {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);

}

.link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.current {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.logo-dark {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing);
}

.logo-color-black {
    color: #000000;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}


.main-title {
    color: var(--white-font-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.dark-background {
    background: var(--dark-background-color);
}

.nav-button {
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--white-font-color);
    text-align: center;
    cursor: pointer;
}


.nav-button:hover,
.nav-button:focus {
    background-color: var(--accent-color);
}

.subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
}

.text {
    line-height: 1.71;
    color: var(--secondary-color)
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.job-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
    letter-spacing: var(--letter-spacing);
}


.logo-white {
    font-family: 'Raleway';
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing);
}

.logo-color-white {
    color: var(--white-font-color);
}

.contacts {
    line-height: 1.71;
    color: var(--white-font-color);
    text-decoration: none;
    background: var(--dark-background-color);
    font-style: normal;

}

.contacts:hover,
.contacts:focus {
    line-height: 1.71;
    color: var(--accent-color);
    text-decoration: none;
    font-style: normal;
    background: var(--dark-background-color);

}

.color {
    color: rgba(255, 255, 255, 0.6)
}

.menu-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.62;
    text-align: center;
    color: var(--main-font-color);
    background: #F5F4FA;
    cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
    color: var(--white-font-color);
    background-color: var(--accent-color);
}

.link-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-font-color);

}

.text-description {
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.88;
    color: var(--secondary-color);
}